
body {   
    margin:0;
    padding:0;
}

* {
padding:0;
margin:0;
}

ul,li
{
    list-style-type:none;
}
.container {
    width: 980px;
    height: auto;
    margin: 0 auto;
    
}

.banner {
    width: 900px;
    height: 480px;
    position: relative;
    margin: 50px auto;
}

.icerik {
    width: 640px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    margin: 120px auto;
    float: left;
}

    .icerik .haber-wrap {
        box-shadow: 2px 2px 6px #000;
        margin: 50px auto;
        font-family: 'Lato', sans-serif;
        
    }
        .icerik .haber-wrap .baslik {
            text-align: center;
            padding: 10px;
            font-size: 20px;
            line-height: 4;
        }
    .icerik .haber-wrap .haber{
        text-align:left;
        padding:10px;
        font-size: 15px;
    }

        .icerik .haber-wrap .tarih {            
            text-align:left;                
            font-size: 10px;
        }

.sag {
    position:inherit;
    width: 300px;
    height: auto;
    margin: 150px 0 0 150px;
    padding: 20px;
    float:left;
}
 .sagalt {
    box-shadow: 2px 2px 6px #000;
    width: 300px;
    height: auto;
    margin: 0 auto;
    padding: 20px;
    float: right;
    margin-top: 50px;
}
    .sagalt .yhaber-wrap {
        font-family: 'Lato', sans-serif;
        font-size: 15px;
       
    }

.sagust {
    box-shadow: 2px 2px 6px #000;
    width: 300px;
    height: auto;
    margin-left: 150px;
    padding: 20px;
    float: right;
}
    .sagust .okunan-wrap {
        font-family: 'Lato', sans-serif;
        font-size: 15px;
    }



footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 120px; /* footer yüksekliği */
    background: #6cf;
    text-align: center;
}
 .img
 {
     padding:30px;
 }

 




@media (min-width:480px ) and (max-width:768px) {
    .container {
        width: auto;
        height: auto;
    }
    .banner {
        width: auto;
        height: auto;
    }
    .sag {
        display: none;
    }
    
}


@media (min-width:768px ) and (max-width:900px) {
    .container {
        width: auto;
        height: auto;
    }
   .banner{
       width:auto;
       height:auto;
   }
    .sag {
        display: none;
    }
}

@media (min-width:900px ) and (max-width:1200px) {
 
    .sag {
        width:200px;
        margin-left:850px;
        margin-top:-140px;
    }
}


